<h1>吃甜甜 店家(shop)後台首頁</h1>

<br>

<%= link_to '店家首頁', shop_shops_path %> | <%= link_to '甜點櫃', shop_desserts_path %>

<hr>

<!-- 店家基本資料 -->

<% if @shop %>
  <%= image_tag @shop.image.url if @shop.image? %>
  <%= image_tag @shop.logo.url if @shop.logo? %>
  <h2><%= @shop.shopname %></h2>
  電話：<%= @shop.tel %><br>
  地址：<%= @shop.location %><br>
  營業時間：<%= @shop.opening_hours %><br>
  介紹：<%= @shop.intro %><br>
  <br>
  <%= link_to '編輯', edit_shop_shop_path(@shop) %>
<% else %>
  <%= link_to '建立我的商店', new_shop_shop_path %>
<% end %>