<h1>吃甜甜 店家(shop)後台首頁</h1>

<% if current_user.shop %>
  <h2><%= current_user.shop.shopname %></h2>
  電話：<%= current_user.shop.tel %><br>
  地址：<%= current_user.shop.location %><br>
  營業時間：<%= current_user.shop.opening_hours %><br>
  介紹：<%= current_user.shop.intro %><br>
<% else %>
  <%= link_to '建立我的商店', new_shop_shop_path %>
<% end %>
