<% if @shop.errors.any? %>
  <h2>We have some errors here !</h2>
  <ul>
    <% @shop.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [:shop, @shop] do |f| %>
  <%= f.label :shopname, "Shop Name" %>
  <%= f.text_field :shopname %>

  <%= f.label :tel, "Tel" %>
  <%= f.text_field :tel %>

  <%= f.label :location, "Location" %>
  <%= f.text_field :location %>

  <%= f.label :opening_hours, "Opening Hours" %>
  <%= f.text_field :opening_hours %>

  <%= f.label :logo, "Logo" %>
  <%= f.file_field :logo %>

  <%= f.label :image, "Image" %>
  <%= f.file_field :image %>

  <%= f.label :intro, "Introduction" %>
  <%= f.text_area :intro %>

  <%= f.submit %>
<% end %>