<h1>甜點櫃</h1>

<br>

<%= link_to '店家首頁', shop_shops_path %> | <%= link_to '甜點櫃', shop_desserts_path %><br>
<%= link_to '新增甜點', new_shop_dessert_path %>

<hr>

<% @desserts.each do |dessert| %>
  <%= image_tag dessert.image.url if dessert.image? %><br>
  品名：<%= dessert.name %><br>
  價格：<%= dessert.price %><br>
  介紹：<%= dessert.description %><br>

  <hr>
<% end %>